<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
{% load static %}
{% load tmmap %}
<html>
	<head>
		<title>TM grid</title>
	</head>
	<body>
		<h1>TM grid</h1>
		<link rel="stylesheet" href="{% static 'css/grid.css' %}">
			{% tmmap as tmm %}
			{% for i in tmm %}
			<div class="{% cycle 'hex-row odd' 'hex-row' %}">
				{% for j in i %}
					{% if j == 0 %}
						<div class="emptybox"></div>
					{% elif j == 1 %}
						<div class="hex"></div>
					{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
	</body>
</html>
